<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{% url 'main:index' %}">
            <i class="bi bi-heart-fill text-danger me-2"></i>Мой блог о котиках
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:index' %}">
                        <i class="bi bi-house-door me-1"></i>Главная
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:about' %}">
                        <i class="bi bi-info-circle me-1"></i>О нас
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:help' %}">
                        <i class="bi bi-question-circle me-1"></i>Помощь
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:kotiki' %}">
                        <i class="bi bi-emoji-smile me-1"></i>Котики
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
